<div class="container">
    
    <div class="float-center mb-4">
        <h3>
            Manage Products
            <small class="text-muted">Update the store</small>
        </h3>
    </div>
 

    <div class="row">
        <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="save(f.value)">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input #title="ngModel" [(ngModel)]="product.data.title" id="title" name="title" type="text" class="form-control" required>
                    <div class="alert alert-danger mt-2" *ngIf="title.invalid && title.touched">
                        <div *ngIf="title.errors.required">Title field is required!</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                          <input #price="ngModel" [(ngModel)]="product.data.price" id="price" name="price" type="number" class="form-control" required>
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="price.invalid && price.touched">
                        <div *ngIf="price.errors.required">Price field is required!</div>
                    </div>
                 </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select #category="ngModel" [(ngModel)]="product.data.category" id="category" name="category" class="form-control" required>
                        <option selected disabled>Select a category</option>
                        <option *ngFor="let category of categories$|async" [value]="category.key">{{category.data.name}}</option>
                    </select>
                    <div class="alert alert-danger mt-2" *ngIf="category.invalid && category.touched">
                        <div *ngIf="category.errors.required">Category field is required!</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="imageUrl">Image Url</label>
                    <input #imageUrl="ngModel" [(ngModel)]="product.data.imageUrl" id="imageUrl" name="imageUrl" type="text" class="form-control" required>
                    <div class="alert alert-danger mt-2" *ngIf="imageUrl.invalid && imageUrl.touched">
                        <div *ngIf="imageUrl.errors.required">Image Url field is required!</div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success  mt-4">Save</button>
                </div>

            </form>
        </div>
        <div class="col-md-6">
                <div class="float-right">
                <product-cart [product]="product" [showAction]="showAction"></product-cart>
            </div>
        </div>
    </div>
</div>
