
 <div class="container">
    <a routerLink="/admin/products/new" class="btn btn-primary mb-4">Add Products</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products$|async">
                <td>{{product.data.title}}</td>
                <td>{{product.data.price}}</td>
                <td><a [routerLink]="['/admin/products/',product.key]" class="btn btn-outline-primary">Update</a></td>
            </tr>
        </tbody>
    </table>
 </div>
